package main

import (
    "database/sql"
    "github.com/fvbock/endless"
	"github.com/gin-gonic/gin"
    _ "github.com/go-sql-driver/mysql"
    "log"
    . "{{{artifact}}}/controller"
    . "{{{artifact}}}/repository"
    . "{{{artifact}}}/service"
)

func main() {
	db, _ := sql.Open("mysql", "{{{dataSource.username}}}:{{{dataSource.password}}}@({{{dataSource.host}}}:{{{dataSource.port}}})/{{{dataSource.dbName}}}")
	defer db.Close()
    r := gin.Default()

{{#tables}}
	{{lowerDomainName}}Repository := New{{domainName}}Repository(db)
{{/tables}}

{{#tables}}
    {{lowerDomainName}}Service := New{{domainName}}Service({{lowerDomainName}}Repository)
{{/tables}}

{{#tables}}
    New{{domainName}}Controller(r, {{lowerDomainName}}Service)
{{/tables}}


    err := endless.ListenAndServe(":8080", r)
    if err != nil {
        log.Fatal(err)
    }
}
