package main

import (
	. "{{{artifact}}}/controller"
	. "{{{artifact}}}/repository"
	. "{{{artifact}}}/service"
	"database/sql"
	"github.com/gin-gonic/gin"
)

func main() {
	db, _ := sql.Open("mysql", "root:root@(localhost:3306)/graphql")
	defer db.Close()
{{#tables}}
	{{lowerDomainName}}Repository := New{{domainName}}Repository(db)
	{{lowerDomainName}}Service := New{{domainName}}Service({{lowerDomainName}}Repository)
	{{lowerDomainName}}Controller := New{{domainName}}Controller({{lowerDomainName}}Service)

{{/tables}}
{{#tables}}
	r := gin.Default()
	{{lowerDomainName}} := r.Group("{{lowerDomainName}}")
    {
        {{lowerDomainName}}.GET("/search", {{lowerDomainName}}Controller.Search)
	    {{lowerDomainName}}.POST("/", {{lowerDomainName}}Controller.InsertSelective)
	    {{lowerDomainName}}.PUT("/", {{lowerDomainName}}Controller.UpdateByPrimaryKeySelective)
	}

{{/tables}}
r.Run(":8080")
}
