package controller

import (
	"github.com/gin-gonic/gin"
	. "{{{artifact}}}/domain"
	. "{{{artifact}}}/service"
	"net/http"
)

type {{domainName}}Controller struct {
	{{lowerDomainName}}Service *{{domainName}}Service
}

func New{{domainName}}Controller(r *gin.Engine, {{lowerDomainName}}Service *{{domainName}}Service) *{{domainName}}Controller {
    {{lowerDomainName}}Controller := &{{domainName}}Controller{ {{lowerDomainName}}Service: {{lowerDomainName}}Service }
    {{lowerDomainName}} := r.Group("{{lowerDomainName}}")
    {
        {{lowerDomainName}}.GET("", {{lowerDomainName}}Controller.Search)
        {{lowerDomainName}}.POST("/", {{lowerDomainName}}Controller.InsertSelective)
        {{#hasPrimaryKey}}
        {{lowerDomainName}}.GET("/{{#primaryKeys}}:{{lowerName}}{{#hasNext}}/{{/hasNext}}{{/primaryKeys}}", {{lowerDomainName}}Controller.SelectByPrimaryKey)
        {{lowerDomainName}}.DELETE("/{{#primaryKeys}}:{{lowerName}}{{#hasNext}}/{{/hasNext}}{{/primaryKeys}}", {{lowerDomainName}}Controller.DeleteByPrimaryKey)
        {{lowerDomainName}}.PUT("/", {{lowerDomainName}}Controller.UpdateByPrimaryKeySelective)
        {{/hasPrimaryKey}}
    }
    return {{lowerDomainName}}Controller
}

func ({{lowerDomainName}}Controller *{{domainName}}Controller) Search(c *gin.Context) {

    var params struct {
        Page    uint32	`form:"page"`
        Size    uint32	`form:"size"`
        OrderBy string	`form:"orderBy"`
        Sort    string	`form:"sort"`
{{#fields}}
        {{upperName}}   {{propertyType}}  `form:"{{lowerName}}"`
{{/fields}}
    }

	e := c.ShouldBind(&params)
	if e != nil {
		_ = c.AbortWithError(http.StatusBadRequest, e)
		return
	}

    query := New{{domainName}}Example()

    if params.Page == 0 {
        params.Page = 1
    }

    if params.Size == 0 {
        params.Size = 20
    }

    query.WithPage(params.Page, params.Size)

    if params.OrderBy != ""{
        if params.Sort=="" {
            params.Sort = "asc"
        }
        query.WithOrderByClause(params.OrderBy +" " +params.Sort)
    }

{{#fields}}
{{#isInt8}}
	if params.{{upperName}} != 0 {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isInt8}}
{{#isInt16}}
	if params.{{upperName}} != 0 {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isInt16}}
{{#isInt32}}
	if params.{{upperName}} != 0 {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isInt32}}
{{#isInt64}}
	if params.{{upperName}} != 0 {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isInt64}}
{{#isBoolean}}
	if params.{{upperName}} != 0 {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isBoolean}}
{{#isString}}
	if params.{{upperName}} != "" {
    	query.And{{upperName}}EqualTo(params.{{upperName}})
    }

{{/isString}}
{{/fields}}
	{{lowerDomainName}}, e := {{lowerDomainName}}Controller.{{lowerDomainName}}Service.SelectByExample(query)
	if e != nil {
		_ = c.AbortWithError(http.StatusInternalServerError, e)
		return
	}

	c.JSON(http.StatusOK, {{lowerDomainName}})
}

func ({{lowerDomainName}}Controller *{{domainName}}Controller) InsertSelective(c *gin.Context) {
	{{lowerDomainName}} := &{{domainName}}{}
	e := c.ShouldBindJSON({{lowerDomainName}})
	if e != nil {
		_ = c.AbortWithError(http.StatusInternalServerError, e)
		return
	}

	{{lowerDomainName}}, e = {{lowerDomainName}}Controller.{{lowerDomainName}}Service.InsertSelective({{lowerDomainName}})
	if e != nil {
		_ = c.AbortWithError(http.StatusInternalServerError, e)
		return
	}

	c.JSON(http.StatusOK, {{lowerDomainName}})

}
{{#hasPrimaryKey}}

func ({{lowerDomainName}}Controller *{{domainName}}Controller) UpdateByPrimaryKeySelective(c *gin.Context) {
	{{lowerDomainName}} := &{{domainName}}{}
	e := c.ShouldBindJSON({{lowerDomainName}})
	if e != nil {
		_ = c.AbortWithError(http.StatusInternalServerError, e)
		return
	}

	_, e = {{lowerDomainName}}Controller.{{lowerDomainName}}Service.UpdateByPrimaryKeySelective({{lowerDomainName}})
	if e != nil {
		_ = c.AbortWithError(http.StatusInternalServerError, e)
		return
	}

	c.JSON(http.StatusOK, {{lowerDomainName}})

}

func ({{lowerDomainName}}Controller *{{domainName}}Controller) DeleteByPrimaryKey(c *gin.Context) {

    var params struct {
    {{#primaryKeys}}
        {{upperName}}   {{propertyType}}  `uri:"{{lowerName}}"`
    {{/primaryKeys}}
    }

    var e error
    if e = c.ShouldBind(&params); e == nil {
        _, e := {{lowerDomainName}}Controller.{{lowerDomainName}}Service.DeleteByPrimaryKey({{#primaryKeys}}params.{{upperName}}{{#hasNext}},{{/hasNext}}{{/primaryKeys}})
        if e == nil {
            return
        }
    }

    c.AbortWithError(http.StatusInternalServerError, e)
}

func ({{lowerDomainName}}Controller *{{domainName}}Controller) SelectByPrimaryKey(c *gin.Context) {

    var params struct {
    {{#primaryKeys}}
        {{upperName}}   {{propertyType}}  `uri:"{{lowerName}}"`
    {{/primaryKeys}}
    }

    var e error
    if e = c.ShouldBind(&params); e == nil {
        {{lowerDomainName}}, e := {{lowerDomainName}}Controller.{{lowerDomainName}}Service.SelectByPrimaryKey({{#primaryKeys}}params.{{upperName}}{{#hasNext}},{{/hasNext}}{{/primaryKeys}})
        if e == nil {
            c.JSON(http.StatusOK, {{lowerDomainName}})
            return
        }
    }

    c.AbortWithError(http.StatusInternalServerError, e)
}

{{/hasPrimaryKey}}
