package domain

// {{domainName}}
type {{domainName}} struct {
{{#fields}}
    {{#remarks}}// {{{remarks}}}{{/remarks}}
	{{upperName}}        {{propertyType}}  `json:"{{lowerName}}" form:"{{lowerName}}"`
{{/fields}}
}
